/* @author Stefan Audersch (Fraunhofer IGD) */
/* @author Frank Christiner (Fraunhofer IGD) */

.printButtons, .noViewOnPrint{
  display: none;
}
div#root_style_content {
  background-color:transparent;
  box-shadow: none;
}