/* @author Sebastian Gutzeit (Hansestadt Rostock) */

body {
  margin:0 auto;
  margin-bottom:15px;
  background-color:#FFFFFF;
  color:#006cb7;
  font-family:'Verdana',sans-serif;
  text-align:center;
}

#root_style_header {
  height:200px;
  width:100%;
  margin:0 auto;
  margin-bottom:40px;
  background-image:url("../images/banner.png");
  background-repeat:no-repeat;
  background-position:center;
}

#root_style_header_demo {
  height:65px;
  width:1200px;
  margin:0 auto;
  margin-top:11px;
  background-color:#FFCD05;
  text-align:center;
  font-weight:bold;
  line-height:60px;
  font-size:180%;
  color:#D81920;
  /* abgerundete Ecken */
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /* Webkit */
  -khtml-border-radius: 5px; /* KHTML */
  border-radius: 5px; /* Opera */
}

#root_style_content {
  width:1000px;
  margin:0 auto;
  margin-top:50px;
  margin-bottom:15px;
  text-align: center;
  font-size:110%;
  font-weight:bold;
}

#root_style_content .error {
  color:#d81920;
}        